:root {
	--nord0: #2e3440;
	--nord1: #3b4252;
	--nord2: #434c5e;
	--nord3: #4c566a;
	--nord4: #d8dee9;
	--nord5: #e5e9f0;
	--nord6: #eceff4;
	--nord7: #8fbcbb;
	--nord8: #88c0d0;
	--nord9: #81a1c1;
	--nord10: #5e81ac;
	--nord11: #bf616a;
	--nord12: #d08770;
	--nord13: #ebcb8b;
	--nord14: #a3be8c;
	--nord15: #b48ead;
}

.nord-dark {
  --background: var(--nord0);
  --background-alt: var(--nord1);

  --foreground: var(--nord5);
  --foreground-alt: var(--nord6);

  --red-color:    var(--nord11);
  --green-color:  var(--nord14);
  --yellow-color: var(--nord13);
  --blue-color:   var(--nord10);
  --purple-color: var(--nord15);
  --aqua-color:   var(--nord8);
  --gray-color:   var(--nord4);
  --orange-color: var(--nord12);
}

.nord-light {
  --background: var(--nord4);
  --background-alt: var(--nord5);

  --foreground: var(--nord2);
  --foreground-alt: var(--nord3);

  --red-color:    var(--nord11);
  --green-color:  var(--nord14);
  --yellow-color: var(--nord13);
  --blue-color:   var(--nord10);
  --purple-color: var(--nord15);
  --aqua-color:   var(--nord8);
  --gray-color:   var(--nord4);
  --orange-color: var(--nord12);
}